@{
    ViewData["Title"] = "About Us";
}

<h1> <b>Our story</b></h1>
<p>
 <img src="~/images/umshado.png" /><br />
    We are a local crafts business which has been in operation for about five years making high quality ornaments and traditional accessories for our loyal customers. This company began with James partnering up with his father making beadworks and accessories for the traditional gatherings in Umhlanga. Gaining a large popularity within the province of Kwa-Zulu Natal, we have decided to branch out more and have our goods shared with the rest of the nation and give other countries a piece of our heritage and show them what makes Mzansi the motherland of diverse cultures.South Africa is a country rich in diversity,we make many crafts for all the tribes and kept our store inclusive of all the Nguni tribes.We also make various pottery for cudtomers who enjoy abstract scultures and modern art,mostly earthenware. 
</p>
