@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p1>
    <b>James Khumalo</b>
    <br />Cell:0834679708
    <br /> Email:<a href="mailto:Jaykhumalo@gmail.com">Jaykhumalo@gmail.com</a>
    <br />
    <b>Zandile Khumalo</b>
    <br />Cell:0745859574
    <br /> Email:<a href="mailto:ZandiK@gmail.com">ZandiK@gmail.com</a>
    <br />

    <b>Anele Mkhize</b>
    <br />Cell:0726875361
    <br /> Email:<a href="mailto:Anele12@gmail.com">Anele12@gmail.com</a>
    <br />
    <b>Olwethu Mdunge</b>
    <br />Cell:0745859574
    <br />  Email:<a href="mailto:Wethu23@gmail.com">Wethu23@gmail.com</a>
    <br />
    <br />
    <u><b>Socials</b></u>
    <br />Instagram:<b>Khumalocraftsemporium</b>
    <br /> Twitter:<b>Khumalocraftsemporium</b>
    <br />Youtube:<b>Khumalocraftsemporium</b>
    <br />
</p1>
<p2>
    <br /><b>
        Store Address: <br />
        Greenage Ave, Umhlanga, Durban, 4320
    </b>
