@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Khumalo Craft Emporium!</h1>
    <p>
        <img src="~/images/istockphoto-619048026-1024x1024-transformed.jpeg" style="max-width:75%;" width="750" height="450" />
    </p>
</div>
