@{
    ViewData["Title"] = "My work";
}

<h1>@ViewData["Title"]</h1>

<div id="slideshow-container">
    <div class="mySlides">
       <img src="~/images/zulu pots.jpg" width="550" height="450" />
        <p>Locally made ornamentals (R45.00 - R60.00)</p>
    </div>

    <div class="mySlides">
        <img src="~/images/istockphoto-172134865-1024x1024-transformed.jpeg" width="550" height="450" />
        <p>Woven baskets (R65.00 - R90.00)</p>
    </div>

    <div class="mySlides">
        <img src="~/images/beads3-transformed.jpeg" width="550" height="450" />
        <p>Traditional beading (R35.00)</p>
    </div>

    <div class="mySlides">
       <img src="~/images/zulu wear - copy.jpeg" width="550" height="450" />
        <p>Traditional wear (Dependant on size)</p>
    </div>
</div>

<style>

    #slideshow-container {
        max-width: 600px;
        position: relative;
        margin: auto;
    }

   
    .mySlides {
        display: none;
    }

    
    p {
        text-align: center;
        font-size: 16px;
    }
</style>

